.jojo-stats{
   position: relative;
   height: 20vw;
   min-height: 220px;
   width:500px;
   overflow: visible;
}

.jojo-visual{
    position: relative;
    display: flex;
    width:100%;
    height:max-content;
    align-items: center;
    justify-items:center;
    justify-content: center;
    
}

.jojo-stand{
    text-align: center;
   
}

.jojo-stand img{
   width: 40%;
   height: 40%;
   min-height:256px;
   min-width: 256px;
}