.pic-container{
    display: grid;
    justify-items: right;
    grid-template-rows: repeat(3,33%);
    grid-template-columns: minmax(167px,13.5vw);
    background-color: black;
    height:fit-content;
    width:fit-content;
    min-width: 167px;
    
    
   
   
}

.pic-container img{
    width:100%;
    min-height: 167px;
    
   
    

   
}

.pic{
    
}