.pic-container{
    display: grid;
    justify-items: right;
    grid-template-rows: repeat(3,33%);
    grid-template-columns: minmax(167px,13.5vw);
    background-color: white;
    height:fit-content;
    width:fit-content;
    min-width: 167px;
    border-radius: .6vw;
    
    
   
   
}
.pic-container img{
    width:100%;
    min-height: 137px;
    
}

.selector{
    border: 8px solid gold;
    border-radius:5px ;
   
}

@media screen  and (max-width:960px) {
    .pic-container{
        display: flex;
        justify-content: center;
        justify-items: center;
        justify-self: left;
        background-color: white;
        height:fit-content;
        min-width: 167px;
        margin-bottom: 10px;
        border-radius: 1.2vw;
        margin-left: 2.5vw;
       
       
    }

    .pic-container img{
        width:32vw;
        min-height: 167px;
        height:10%;
        
       
        
    
       
    }

    .jojo-text{
        width:95vw
    }
  
  }



