.pic-container{
    display: grid;
    justify-items: right;
    grid-template-rows: repeat(3,33%);
    grid-template-columns: minmax(167px,13.5vw);
    background-color: black;
    height:fit-content;
    width:fit-content;
    min-width: 167px;
    
    
   
   
}
.pic-container img{
    width:100%;
    min-height: 137px;
    
   
    

   
}

@media screen  and (max-width:960px) {
    .pic-container{
        display: flex;
        justify-content: center;
        justify-items: center;
        justify-self: left;
        background-color: black;
        height:fit-content;
        min-width: 167px;
        margin-bottom: 10px;
        
       
       
    }

    .pic-container img{
        width:32vw;
        min-height: 167px;
        height:10%;
        
       
        
    
       
    }

    .jojo-text{
        width:95vw
    }
  
  }



