
.text-container{
  display: grid;
  position: relative;
  justify-content: center;
  justify-items: center;
  align-self: center;
  width: 80vw;
  grid-template-columns: auto 1px;
  grid-template-rows: auto 1px;
  margin-left: 2vw;
}

.text-container-nothing{
  display: grid;
  position: relative;
  justify-content: center;
  justify-items: center;
  align-self: center;
  width: 90vw;
  grid-template-columns: auto 1px;
  grid-template-rows: auto 1px;
}


#textbox{
  position: relative;
  width: 80vw;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 4px;
  font-size: 16px;
  padding: 30px;
  resize: none;
  overflow: hidden;
  margin-bottom: 10px;
}


.loading-text{
    color: grey;
    background-color: rgb(216, 216, 216);
}

.noraml-text{
    color:black;
    background-color: white;
}

#textbox-nothing{
    width:90vw;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    padding: 30px;
    resize: none;
    overflow: hidden;
    margin-bottom: 10px;
}





#text-button{
  height: 25px;
  position: relative;
  width:85px;
  right:44px;
  background-image: linear-gradient(to left,#c164e6, #8909f3);
  color:gold;
  border-radius: 4px;
}

#text-button-nothing{
    height: 25px;
    position: relative;
    width:85px;
    right:44px;
    background-image: linear-gradient(to left,#c164e6, #8909f3);
    color:gold;
    border-radius: 4px;
}

span{
  position: relative;
  bottom: 2px;
  left:5px;
}

.loading-spinner {
  -webkit-animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  height: 70px;
  width: 70px;
  border: 8px solid #7106fc;
  border-right-color: transparent;
  border-radius: 50%;
  position:relative;
  justify-self: center;
  align-self: center;
  bottom: 70px;
  z-index:1;

}


@-webkit-keyframes rotate-forever {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes rotate-forever {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate-forever {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
@media screen  and (max-width:960px) {

  .text-container{
    display: grid;
    position: relative;
    justify-content: center;
    justify-items: center;
    width: 100vw;
    grid-template-columns: auto 1px;
    grid-template-rows: auto 1px;
    margin-left:0;
  }

  .text-container-nothing{
    display: grid;
    position: relative;
    justify-content: center;
    justify-items: center;
    width: 90vw;
    grid-template-columns: auto 1px;
    grid-template-rows: auto 1px;
  }
  
  

}

