#textbox{
    width: 55vw;
    min-width: 550px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 30px;
    resize: none;
    overflow: hidden;
    margin-bottom: 10px;
  
    
    
}

.loading-text{
    color: grey;
    background-color: rgb(216, 216, 216);
}

#textbox-nothing{
    width: 55vw;
    min-width: 550px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 30px;
    resize: none;
    overflow: hidden;
    margin-bottom: 10px;
}



.text-container{
    display: flex;
    position: relative;
    justify-content: center;
    justify-items: center;
    

}

#text-button{
    height: 25px;
    position: relative;
    right:80px;
    background-image: linear-gradient(to left,#c164e6, #8909f3);
    color:gold;
    border-radius: 4px;
}

#text-button-nothing{
    height: 25px;
    position: relative;
    right:80px;
    background-image: linear-gradient(to left,#c164e6, #8909f3);
    color:gold;
    border-radius: 4px;
}


@-webkit-keyframes rotate-forever {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes rotate-forever {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate-forever {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate-forever;
    -moz-animation-name: rotate-forever;
    animation-name: rotate-forever;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    height: 70px;
    width: 70px;
    border: 8px solid #7106fc;
    border-right-color: transparent;
    border-radius: 50%;
    position:relative;
    justify-self: center;
    align-self: center;
    right:35vw;
    z-index:1;

  }
  

@media screen and (max-width:960px) {
    #textbox{
        width: 93.5vw;
        min-width: 200px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        padding: 30px;
        resize: none;
        overflow: hidden;
        caret-color: black;
    }
    
    #textbox-nothing{
        width: 93.5vw;
        min-width: 200px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        padding: 30px;
        resize: none;
        overflow: hidden;
        position: relative;
        left:40px;
    }

    #text-button-nothing{
        height: 25px;
        position: relative;
        right:40px;
        background-image: linear-gradient(to left,#c164e6, #8909f3);
        color:gold;
        border-radius: 4px;
    }

    .loading-spinner {
        -webkit-animation-duration: 0.75s;
        -moz-animation-duration: 0.75s;
        animation-duration: 0.75s;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: rotate-forever;
        -moz-animation-name: rotate-forever;
        animation-name: rotate-forever;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
        animation-timing-function: linear;
        height: 70px;
        width: 70px;
        border: 8px solid #7106fc;
        border-right-color: transparent;
        border-radius: 50%;
        position:relative;
        justify-self: center;
        align-self: center;
        right:75vw;
        z-index:3;
    
      }
}
